{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'crud_blog_web.css' %}">

    <title>{{ title }}</title>
</head>
<body>
<div class="alert alert-primary" role="alert">
    A simple primary alert—check it out!
</div>
<h1 class="cRed">To jest kolor z pliku styles.css globalnego</h1>
<h1 class="cbw-cGreen">To jest kolor z pliku crud_blog_web.css aplikacji</h1>
<!--Ta wartość została przekazana z widoku - views.py w aplikacji-->
<h1>{{ title }}</h1>
<h2>Tutaj będą moje artykuły</h2>
<h3>To są opcje ustawione statycznie</h3>
{% for item in options %}
<p>{{ item }}</p>
{% endfor %}
<h3>To są artykuły pobrane z bazy za pomocą modelu - bez koniecznosci wskazywania na property</h3>
<h4>Nie musimy wskazywać property bo w modelu naszej aplikacji jest </h4>
<pre>
        <code>
            def __str__(self):
              return self.title_with_year()

        </code>
    </pre>
<b>definiowanie warunków</b><br>
{% if articles|length > 0 %}
działa if
{% endif %}
<br/>
<b>Ilośść wpisów w bazie danych w tabeli {{ articles|length }}</b><br/>
<b>Przykład iteracji bez wskazywania na właściwość (property)</b>
{% for article in articles %}
<p>{{ article }}</p>
{% endfor %}

<b>Przykład iteracji ze wskazaniem właściwości (property)</b>
{% for article in articles %}
<p>{{ article.title }}</p>
<p>{{ article.imgThumb }}</p>
<!--Statyczny plik podany dla przykładu-->
<!--<img src="{% static 'my_app/example.jpg' %}" alt="My image">-->

<!--Dynamiczny plik podany dla przykładu-->
<img src="/media/{{ article.imgThumb }}" alt="{{ article.title }}" title="{{ article.title }}">
{% endfor %}

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>
</html>